* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

button, a {
    cursor: pointer;
    border: none;
    padding: $xs-space;
    margin: 0 auto;
    flex-flow: initial;

}

input {
    background-color: $secondary-color;
    border: none;
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
    color: #fff;
    padding: $xs-space;
    width: 100%;

    &:focus {
        @extend input;
    }
}

main {
    margin: $xl-space auto;
}

.top-space--lg {
    margin-top: $lg-space;
}
