//COlors
$primary-color: lighten(yellow, 10%);
$secondary-color: #333b40;

//Sizes
$s-size: 1.5rem;
$m-size: 1.9rem;
$l-size: 2.6rem;
$xl-size: 4.9rem;
$xxl-size: 10rem;

//Spacings
$xs-space: .9rem;
$sm-space: 1.3rem;
$m-space: 2.3rem;
$lg-space: 3.2rem;
$xl-space: 5.2rem;