* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif; }

button, a {
  cursor: pointer;
  border: none;
  padding: 0.9rem;
  margin: 0 auto;
  flex-flow: initial; }

.container {
  width: 75%;
  margin: 0 auto; }

.row {
  display: flex;
  justify-content: space-between; }

input, input:focus {
  background-color: #333b40;
  border: none;
  border-bottom: solid 1px #fff;
  border-right: solid 1px #fff;
  color: #fff;
  padding: 0.9rem;
  width: 100%; }

main {
  margin: 5.2rem auto; }

.top-space--md {
  margin-top: 1.9rem; }

.card {
  height: 48rem;
  width: 30rem;
  background-color: #eee;
  margin-bottom: 5.2rem; }
  .card__header {
    background-color: #d5d5d5;
    height: 55%;
    position: relative; }
    .card__header--image {
      height: 100%;
      width: 100%; }
    .card__header--avatar {
      background-color: #aaa;
      height: 6rem;
      left: 73%;
      position: absolute;
      top: 80%;
      width: 6rem;
      outline: solid .3rem #fff; }
  .card__content {
    border-bottom: solid 1px #333b40;
    height: 33%;
    box-sizing: border-box;
    padding: 2rem; }
    .card__content--title {
      font-size: 1.5rem;
      font-weight: bold;
      padding-bottom: 1.3rem; }
    .card__content--owner {
      font-size: 1.4rem;
      padding-bottom: 1.3rem; }
    .card__content--details {
      font-size: 1.4rem;
      padding-bottom: 1.3rem; }
  .card__action {
    display: flex; }
    .card__action button {
      background: transparent;
      text-transform: uppercase;
      margin-top: 1rem; }

.category {
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 1.3rem;
  margin-bottom: 1.3rem; }

.header {
  min-height: 70vh;
  background-color: #333b40;
  color: #fff; }
  .header .brand--logo {
    display: flex;
    justify-content: space-around;
    padding-top: 4.9rem;
    margin: 0 auto 10rem auto;
    width: 35rem; }
  .header__content {
    display: flex;
    justify-content: space-between; }
    .header__content .section {
      padding-right: 8rem;
      width: 80%;
      margin-bottom: 5.2rem; }
      .header__content .section .title {
        font-size: 1.9rem;
        font-weight: bold;
        padding-bottom: 2.3rem; }
      .header__content .section .subtitle {
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 1.3rem; }
      .header__content .section .description {
        font-size: 1.3rem;
        padding-bottom: 3.2rem; }
      .header__content .section input[type="search"]::-webkit-input-placeholder {
        color: #fff; }
      .header__content .section input[type="search"]::-moz-placeholder {
        color: #fff; }
      .header__content .section input[type="search"]:-ms-input-placeholder {
        color: #fff; }
      .header__content .section input[type="search"]:-moz-placeholder {
        color: #fff; }
      .header__content .section--buttons {
        display: flex;
        justify-content: space-between; }
        .header__content .section--buttons button {
          width: 30%; }
        .header__content .section--buttons .learn {
          background-color: #ffff33;
          color: #000; }
        .header__content .section--buttons .signup {
          background-color: #333b40;
          border-bottom: solid 1px grey;
          border-right: solid 1px #fff;
          color: #fff; }
        .header__content .section--buttons .login {
          background-color: #333b40;
          color: #fff; }

nav {
  border-bottom: solid 2px #eee; }
  nav .navbar {
    display: flex;
    justify-content: space-between;
    list-style: none; }
    nav .navbar-item {
      background-color: #fff;
      box-sizing: border-box;
      padding: 1.9rem 4.9rem; }
      nav .navbar-item a {
        text-decoration: none;
        color: #aaa;
        font-size: 1.5rem;
        font-weight: bold; }
  nav .active {
    border-bottom: solid .2rem gold; }
    nav .active a {
      color: #000; }

/*# sourceMappingURL=index.css.map */
